.va {
	display: flex;
	align-items: center;
}
.cta {
	background: url(), linear-gradient(52deg, #42475C 0%, #20222E 71%);
	height: 500px;
	border-top: 10px solid $primary;
}
.title {
	color: $white-ter;
	font-size: 4rem;
	text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}
.subtitle {
	font-weight: 700;
}
hr.content-divider {
	max-width: 75px;
	height: 5px;
}
.is-transparent {
  background: rgba(255, 255, 255, 0.4);
}
#px-1 {
	background: url(/images/garage1-75.webp);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 10px solid $primary;
	hr {
		background: $primary;
	}
}
#px-2 {
	background:
    url(/images/bako54-75.jpg),
    url(/images/mechanos54-75.jpg);
	background-attachment: fixed;
	background-position: left, right;
	background-repeat: no-repeat;
	background-size: 50%;
	border-top: 10px solid $warning;
	hr {
		background: $warning;
	}
}
#px-3 {
	background: url(/images/bako-map.webp);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 10px solid $danger;
	hr {
		background: $danger;
	}
}

