@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');

$rem-base: 18;
$body-font-size: 1.0625em;
$body-size: $body-font-size;

// Fonts 
$family-monospace: "Roboto Mono", sans-serif;
$family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$family-primary: $family-sans-serif;
$tag-radius: 0;

// Import only what you need from Bulma
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/elements/button.sass";
@import "./node_modules/bulma/sass/elements/tag.sass";
@import "./node_modules/bulma/sass/elements/box.sass";
@import "./node_modules/bulma/sass/elements/container.sass";
@import "./node_modules/bulma/sass/elements/title.sass";
@import "./node_modules/bulma/sass/elements/content.sass";
@import "./node_modules/bulma/sass/elements/table.sass";
@import "./node_modules/bulma/sass/components/navbar.sass";
@import "./node_modules/bulma/sass/components/card.sass";
@import "./node_modules/bulma/sass/components/menu.sass";
@import "./node_modules/bulma/sass/components/level.sass";
@import "./node_modules/bulma/sass/components/panel.sass";
@import "./node_modules/bulma/sass/components/pagination.sass";
@import "./node_modules/bulma/sass/layout/hero.sass";
@import "./node_modules/bulma/sass/layout/section.sass";
@import "./node_modules/bulma/sass/layout/footer.sass";
@import "./node_modules/bulma/sass/helpers/typography.sass";
@import "./node_modules/bulma/sass/helpers/color.sass";
@import "./node_modules/bulma/sass/helpers/_all.sass";
@import "./node_modules/bulma/sass/grid/columns.sass";
@import "./custom1.scss";
