<footer class="footer has-background-black">
  <div class="footer-content has-text-centered has-text-light">
    This multilingual <a href="https://gohugo.io">Hugo</a> theme built by 
    <a href="www.coastsystems.net">Boyd Kelly</a> with 
    <a href="https://www.bulma.com">Bulma.</a> It's freely available on 
    <a href="https://gitlab.com/boydkelly/hugo-i18n-blog">Gitlab</a>.
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</footer>
{{- /* vim: set ts=2 sw=2 et: */}}
