<section class="hero is-medium has-background-black">
  <div class="hero-body">
    <div class="container">
          <h1 class="title is-size-1">{{ .Site.Title }}</h1>
          <h1 class="subtitle is-size-3 has-text-primary">{{ .Site.Params.description }}</h1>
      </div>
    </div>
  </div>
</section>
{{- /* vim: set ts=2 sw=2 et: */}}
