<script>
$('.navbar-burger').click(function() {
  $('#site-navbar, .navbar-burger').toggleClass('is-active');
});
</script>
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

{{- /* 
<script>
  $(document).ready(function() {
    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function() {
      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
    });
  });
</script>
vim: set ts=2 sw=2 et: */}}
