<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item page-scroll" href="#intro">{{ .Site.Title }}</a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="site-navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="site-navbar" class="navbar-menu is-black">
    <div class="navbar-start">
      {{ if gt (len .Site.Home.AllTranslations) 1 }}
        <a class="navbar-item">
          <!--       {{ i18n "language" }} --> 
          <span class="iconify" data-icon="ion:language-sharp" data-inline="true"></span>
        </a>
      {{ end }}
      {{ range .Site.Home.AllTranslations }}
        <a class="navbar-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
      {{ end }}
    </div>
              <hr class="navbar-divider">

    <div class="navbar-end">
      {{- $currentPage := . -}}
      {{ range .Site.Menus.main }}
        {{ $menuURL := .URL | absLangURL }}
        <a href="{{ .URL }}" class="navbar-item page-scroll">{{ .Name }}</a>
      {{ end }}
    </div>
  </div>
</nav>
{{- /* vim: set ts=2 sw=2 et: */}}
