{{ define "main" }}
  {{ $counter := 0 }}
  {{ range (where .Site.RegularPages.ByWeight "Section" "parallax") }}
    {{ $counter = add $counter 1 }}
    <section id="px-{{ $counter }}" class="hero is-large ">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-5">
              <h1 class="title is-size-1">{{ .Title }}</h1>
              <hr class="content-divider">
              <h2 class="title is-size-2">{{ .Description }}</h2>
            </div>
            <div class="column">
              {{ if .Content }}
                <div class="box is-transparent">
                  <div class="subtitle is-size-3 has-text-dark">{{ .Content }}</div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}
